.productosPagina {
    padding: 0 40px;
    margin: 0 auto 25px auto;
}
  
.tituloProductos {
    text-align: left;
    font-size: 28px;
    margin-bottom: 10px;
    padding-left: 40px;
}
  
.subrayadoProductos {
    width: calc(100% - 80px);
    border: 3px solid #009775;
    margin: 0 auto 20px;
}
  
.botonesCategorias {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 10px;
    padding-left: 40px;
}
  
.botonCategoria {
    background-color: white;
    color: #009775;
    border: 2px solid #009775;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    border-radius: 8px;
}
  
.botonCategoria.activo {
    background-color: #009775;
    color: white;
}
  
.botonCategoria:hover {
    background-color: #00654d;
    color: white;
}
  
.productosProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 0 40px;
}
  
.producto {
    text-align: center;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.10);
}
  
.imagen-producto {
    width: 100%;
    height: auto;
}
  
.pProductos {
    margin: 10px 0;
}
  
.error {
    color: red;
    font-size: 18px;
}
  

@media (max-width: 768px) {
    .botonesCategorias {
        display: inline-block;
    }
  
    .botonCategoria {
        margin: 5px;
    }
}
  
@media (max-width: 480px) {
    .tituloProductos {
        font-size: 24px;
    }
  
    .botonCategoria {
        font-size: 14px;
        padding: 8px 12px;
    }
}
  